<div th:insert="fragments/main.html :: heade"></div>
<div class="container mt-5">

<form th:method="POST" th:action="@{/product/{id}(id=${updateProduct.get().getId()})}" th:object="${updateProduct}">
    <label for="name_id">Введите имя</label>
    <input type="text" th:field="*{nameProduct}" id="name_id"/>
    <br/>
    <label for="price_id">Введите цену</label>
    <input type="number" th:field="*{price}" id="price_id"/>
    <br/>
    <input type="submit" value="Изменить"/>
</form>

<button onclick="document.location='/product'">Назад</button>

</div>
<div th:insert="fragments/main.html :: footer"></div>