<!DOCTYPE html>
<html lang="en" xmlns:th = "http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add product</title>
</head>
<body>

<form th:method="POST" th:action="@{/product}" th:object="${addProduct}">
    <label for="name_id">Enter name</label>
    <input type="text" th:field="*{nameProduct}" id="name_id"/>
    <br/>
    <label for="price_id">Enter age</label>
    <input type="text" th:field="*{price}" id="price_id"/>
    <br/>
    <input type="submit" value="Create"/>
</form>

<button onclick="document.location='/product'">back</button>

</body>
</html>