<div th:insert="fragments/main.html :: heade"></div>
<div class="container mt-5">

<table border="1" width="600" >
    <thead>
    <tr>
        <th>Customer name</th>
        <th>Product name</th>
        <th>Product price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${allOrder}">
    <td th:text="${order.getOrderByCustomer().getNameCustomer()}">Клиент</td>
    <td th:text="${order.getProductFromTheOrder().getNameProduct()}">Продукт</td>
    <td th:text="${order.getProductFromTheOrder().getPrice()}">Цена</td>
    </tr>
    </tbody>
</table>

<br/>
<button onclick="document.location='/'">Назад</button>

</div>
<div th:insert="fragments/main.html :: footer"></div>