<div th:insert="fragments/main.html :: heade"></div>
<div class="container mt-5">

    <form th:method="POST" th:action="@{/customer/{id}(id=${updateCustomer.get().getId()})}" th:object="${updateCustomer}">
        <label for="name_id">Введите имя</label>
        <input type="text" th:field="*{nameCustomer}" id="name_id"/>
        <br/>
        <label for="age_id">введите возраст</label>
        <input type="text" th:field="*{age}" id="age_id"/>
        <br/>
        <input type="submit" value="Изменить"/>
    </form>

    <button onclick="document.location='/customer'">Назад</button>

</div>
<div th:insert="fragments/main.html :: footer"></div>