<!DOCTYPE html>
<html lang="en" xmlns:th = "http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Customer</title>
</head>
<body>

<form th:method="POST" th:action="@{/customer}" th:object="${addCustomer}">
    <label for="name_id">Enter name</label>
    <input type="text" th:field="*{nameCustomer}" id="name_id"/>
    <br/>
    <label for="age_id">Enter age</label>
    <input type="text" th:field="*{age}" id="age_id"/>
    <br/>
    <input type="submit" value="Create"/>
</form>

<a href="/customer">back</a>

</body>
</html>